/computacion_paralela/practica1/ProblemaFilter.png
/computacion_paralela/practica1/output.txt
/computacion_paralela/practica1/temporal.png
/computacion_paralela/practica1/1080Image_blur.png
/computacion_paralela/practica1/4kImage_blur.png
/computacion_paralela/practica1/720Image_blur.png
/computacion_paralela/practica1/blur_effect_openmp